<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="jpg/logo.png" alt="logo"></a>
        <nav>
            <a href="#" alt="Home">Home</a>
            <a href="#" alt="O mnie">O mnie</a>
            <a href="#" alt="Projekty">Projekty</a>
            <a href="#" alt="Kontakty">Kontakty</a>
        </nav>
            
                <a id="pobierz" href="#" alt="pobierz">
                     pobierz
                </a>
    </header>
    <main>
        <article>
         <h2>Hola</h2>
         <h4>piewsza stronka z szablonami</h4>   
         <div id="logo">
            <img src="jpg/dribbble.png" alt="dribbble">
            <img src="jpg/github.png" alt="github">
            <img src="jpg/instagram.png" alt="instagram">
         </div>
         </article>
         <img src="jpg/image.png" alt="logo"> 
    </main>
    <section>
        <h2>sobre mi</h2>
        <div id="omnie">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis culpa ab corporis totam laboriosam blanditiis, tempore facere delectus cum nobis nemo adipisci, ipsum, tenetur a fugiat quas aperiam quam doloremque.</p>
            <article>
                <img src="jpg/Group 38.png" alt="1">
                <img src="jpg/Group 39.png" alt="2">
                <img src="jpg/Group 40.png" alt="3">
                <img src="jpg/Group 41.png" alt="4">
            </article>
        </div>
    </section>

    <article>
        <h2>Proyects</h2>
        <section>
            
        </section>
        <section></section>
        <section></section>
    </article>


</body>
</html>